Ecommerce_input.json
{
  "name": "Ecommerce_input",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vr305Ln3NuQ06AFDOFsH6jyCyN58Nzr8",
          "mode": "list",
          "cachedResultName": "Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vr305Ln3NuQ06AFDOFsH6jyCyN58Nzr8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -100
      ],
      "id": "59541a5e-488c-49fa-82ea-5772d612acee",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ICeiP528kUihbUF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -180,
        -100
      ],
      "id": "e81617d8-c8d8-4ade-8367-173dc32ed57b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ICeiP528kUihbUF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecommerceia",
          "mode": "list",
          "cachedResultName": "ecommerceia"
        },
        "options": {
          "pineconeNamespace": "ecommerceia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        40,
        -100
      ],
      "id": "2de72c43-d1e6-4fda-b379-5dde3f58c9c1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6MpPBh5rgeUPbIy2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        80
      ],
      "id": "33f6a1c5-3c1c-45ba-8019-125e9dc01f88",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eAwXja4jqAqvtgVB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        180,
        120
      ],
      "id": "e6372943-a9a5-4bde-986f-8d5e3e002142",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        180,
        280
      ],
      "id": "5054e322-dc3f-4f25-969e-f8352da8a0dc",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a821070a-4ad7-436f-bc0a-c29737b5d8ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6687a81ecdc130ec7eb8629f5d42efaf590d115c31cb564d92401a3c14f5f523"
  },
  "id": "H77EWNLhxt3dtNaw",
  "tags": []
}